.burger.burger-spin {
  /* height: 0; */
}

.burger.burger-spin::before,
.burger.burger-spin::after {
  transition-timing-function: linear;
  transition-duration: 0.1s;
}

.burger.burger-spin::before {
  top: -8px;
}

.burger.burger-spin::after {
  top: 8px;
}

.burger.burger-spin.is-closed {
  transform: rotate(360deg);
  height: 0;
}

.burger.burger-spin.is-closed::before {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.burger.burger-spin.is-closed::after {
  transform: rotate(45deg) translate(-4px, -8px);
}
